[submodule "Cherenkov/vendor/spdlog"]
	path = Cherenkov/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cherenkov/vendor/imgui"]
	path = Cherenkov/vendor/imgui
	url = https://www.github.com/ocornut/imgui
[submodule "Cherenkov\\vendor\\glm"]
	path = Cherenkov\\vendor\\glm
	url = https://github.com/g-truc/glm
[submodule "Cherenkov/vendor/GLFW"]
	path = Cherenkov/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Cherenkov/vendor/stb"]
	path = Cherenkov/vendor/stb
	url = https://github.com/nothings/stb.git
